.Application {
    background-color: #282c34;
    min-height: 100vh;
}

.Sidebar{
    display:flex;
    width:15vw;
    height:96vh;
    margin-left: 2%;
    position: absolute;
    top:2%;
    background-color: #a8b6b8a1;
    flex-direction: column;
    border-radius: 5px;
}

.Profile{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
    height:13%;
    width: 90%;
    background-color: #747474;
    border-radius: 5px;
    border-width: 2px;
    border-color: #282c34;
}

.Profile_Pic{
    margin-left: 2%;
    margin-top: 5%;
    width:75px;
    height:75px;
    border-radius: 50%;
}

.Profile_Name{
    margin-left: 2%;
    margin-top:10%;
    color: white;
    font-size: large;
    font-weight: bold;
}

.Sidebar_Lists{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
    height:40%;
    width: 90%;
    background-color: #747474;
    border-radius: 5px;
    border-width: 2px;
    border-color: #282c34;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.Sidebar_Lists::-webkit-scrollbar{
    display:none;
}

.ListItem{
    display:flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 2%;
}

.ListItem_Profile{
    margin-top: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ListItem_Name{
    font-size: medium;
    color:white;
    margin-left: 2%;
}

.Login {
    display:flex;
    height:250px;
    width:300px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color:#d3e3e5a1;
    border-radius:5px;
}

.Login_Header{
    position: absolute; 
    left:5%;
    top:5%
}

.Login_Form{
    width:80%;
    position: absolute;
    left: 10%;
    top: 20%
}
.Login_Buttons{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%
}
.Login_Rbutton{
    position: absolute;
    right: 0px;
}

.Register{
    height: 350px;
    width: 400px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3e3e5a1;
    border-radius: 5px;
}

.Register_Background{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1e2127;
}

.Register_Header{
    position: absolute; 
    left:5%;
    top:5%
}

.Register_Form{
    width:80%;
    position: absolute;
    left: 10%;
    top: 20%
}
.Register_Buttons{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%
}
.Register_Rbutton{
    position: absolute;
    right: 0px;
}