.Application {
    background-color: #282c34;
    min-height: 100vh;
}

.Login {
    display:flex;
    height:250px;
    width:300px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color:#d3e3e5a1;
    border-radius:5px;
}

.Login_Header{
    position: absolute; 
    left:5%;
    top:5%
}

.Login_Form{
    width:80%;
    position: absolute;
    left: 10%;
    top: 20%
}
.Login_Buttons{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%
}
.Login_Rbutton{
    position: absolute;
    right: 0px;
}

.Register{
    height: 350px;
    width: 400px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d3e3e5a1;
    border-radius: 5px;
}

.Register_Background{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1e2127;
}

.Register_Header{
    position: absolute; 
    left:5%;
    top:5%
}

.Register_Form{
    width:80%;
    position: absolute;
    left: 10%;
    top: 20%
}
.Register_Buttons{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%
}
.Register_Rbutton{
    position: absolute;
    right: 0px;
}