.Application {
    background-color: #282c34;
    min-height: 100vh;
}

.Login {
    display:flex;
    height:250px;
    width:300px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color:#d3e3e5a1;
    border-radius:5px;
}

.Login .Header{
    position: absolute; 
    left:5%;
    top:5%
}

.Login .Form{
    width:80%;
    position: absolute;
    left: 10%;
    top: 20%
}
.Login .Buttons{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%
}
.Login .Rbutton{
    position: absolute;
    right: 0px;
}